<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base href="/">

    each s in js
        script(src=s)
    
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="assets/style/main.css">
  
    <script defer type="script" href="assets/script/main.js"></script>
    <script src="assets/bootstrap/js/bootstrap.js"></script>
    <title>Pedidos grafica</title>
</head>

<body>

    <div class="create-pedido">
        <div class="container">
            <div class="wrapper">
                <div class="content">
                    <div class="item create">
                        <h2 class="ped-h2">Clientes e seus pedidos</h2>
        
                        div.row
                            div.itm-btn-clients 
                                button.mBtn(type="button", onclick="redir('clientes')") Clientes 
                            div
                        
                            div.itm-btn-clients 
                                button.mBtn(type="button", onclick="redir('frm-cliente')") Criar cliente  
                            div
                        div 
                        
                    </div>
                </div>
            </div>
        </div>
    </div> 

    div.container 
        div.wrapper
            div.mb-1
                div.content
                        
                        div.container
                            h2.ped-h2 Pedidos Prontos
                            div.row.mRow
                                each pd in pedidos
                                    case pd.pd_state
                                        when "Pronto" 
                                            div.mC.successful(onclick='redirPD(' + pd.ID_Client + ')') 
                                                div.content
                                                    h1.title-crd #{pd.nome_pedido}
                                                    br
                                                    h4 Status: #{pd.pd_state}
                                                    h5.name-cli Data entrega: #{pd.data_entrega}
                                                   

                        div.container
                            br
                            h1 Pedidos aguard. instalação
                            div.row.mRow 
                                each pd in pedidos
                                    case pd.pd_state
                                        when "Aguard. instalação" 
                                            div.mC(onclick='redirPD(' + pd.ID_Client + ')') 
                                                div.content
                                                    h1.title-crd #{pd.nome_pedido}
                                                    br
                                                    h4 Status: #{pd.pd_state}
                                                    h5.name-cli Data entrega: #{pd.data_entrega}
                                                    


</body>

</html>