head
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base href="/">

    each s in js
        script(src=s)

    style
        include css/main.css
    style
        include ../../../public/assets/bootstrap/css/bootstrap.css

    <title>Document</title>
head

<body>

    
    div.container
        br
        header.mHead
            a(href="/") Inicio

        div.wrapper-nav
            div.wrapper
                h1.title-o Dados do cliente
                div.container
                    h5.t Nome do cliente
                    div.mb-2 
                        h2.txt-client #{client.nome}
                    br

                    h5.t CPF do cliente
                    div.mb-2
                        h2.txt-client #{client.cpf}
                    br

                    h5.t Numero do cliente
                    div.mb-2
                        h2.txt-client #{client.numero}
                    br
                div

                hr

                h2.t Data de Entrega
                h1.date #{data_e}
                
                div.container
                    h1.title-o Pedidos
                    button.btn.btn-primary.mBtn
                        a.mA(href="/frm-pedido/" + client.ID_Client) Cadastrar um novo pedido

                div.container
                    div.grid 
                        div.row
                            each pedido in pedidos
                                    div.item 
                                        div.card-pedido

                                            button.btn.btn-primary.mB 
                                                a.mA(href="frm-edit-pedido/" + pedido.ID_Pedido + "/" + client.ID_Client)
                                                    img(src="../../assets/icons/svg/pencil.svg")

                                            div.content
                                                h2.title #{pedido.nome_pedido}
                                                h4.sub-title#mState #{pedido.pd_state}
                                                hr.mhr
                                                h6.quant Quantidade: #{pedido.quant}
                                                hr.mhr
                                                h2.preco Preço: #{pedido.preco}
                                        
                                            div

                                            div.mConState
                                                form(action="set-s/" + pedido.ID_Pedido + "/" + pedido.ID_Client, method="post")
                                                    input.myForm(type="text", placeholder="Status", name="setState")
                                                    button.btn.btn-success(type="submit") Alterar o status 
                                                form
                                                form(action="/delete/" + pedido.ID_Pedido + "/" + pedido.ID_Client, method="post")
                                                    button.btn.btn-#btn-delete(type="submit") Finalizar pedido 
                                                form
                                            div
                                        div
                                    div
                        div
                    div        
                div                     
              
                div.con-orc
                    div.mb-1
                        div.container
                            div.container-sty
                                div.title-o
                                    h1 Orçamento
                                div.total-p-container
                                    h5.pr-t Preço total dos pedidos: 
                                    h1.pr #{totalP}
                                    hr
                                    h5.pr-t Sinal
                                
                                    form(action="/sinal/" + id_c, method="post")
                                        input.in_none(type="text", name="total_p_sinal", value=tP)
                                        input.form-control(type="number", placeholder="Definir sinal", name="in_sinal")
                                        button.btn.btn-primary.mBtn(type="submit") Definir sinal
                                        hr
                                        div.container
                                            div.sin-con
                                                h5.sin-inf Sinal pago
                                                h2.sin-pr #{sinal}
                                            div
                                        div
                                    form

                                    hr 
                                    br
                                    h3 Forma de pagamento
                                    form(action="frm-pagamento/" + id_c, method="post")
                                        select.form-control#options_sel(name="frmPaySel")
                                            option(value='Cartão') Pagamento no cartão
                                            option(value='Cartão') Pagamento em dinheiro
                                        br
                                        button.btn.btn-success(type="submit") Definir forma de pagamento
                                    hr
                                    h5.pr-t Falta de pagamento 
                                    h1.pr.pr-fal #{falta}
</body>
</html>