head
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base href="/">

    each s in js
        script(src=s)

    style
        include css/main.css
    style
        include ../../../public/assets/bootstrap/css/bootstrap.css

    <title>Document</title>
head

<body>

    div.header
        div.row
            div.item
                a(href="/")

    div.container
        div.wrapper-nav
            div.wrapper
                h1.title-o Dados do cliente
                div.container
                    h5 Nome do cliente
                    div.mb-2
                        h2.txt-client #{client.nome}
                    br

                    h5 CPF do cliente
                    div.mb-2
                        h2.txt-client #{client.cpf}
                    br

                    h5 Numero do cliente
                    div.mb-2
                        h2.txt-client #{client.numero}
                    br
                div

                hr

                
                div.container
                    h1.title-o Pedidos
                    button.btn.btn-primary.mBtn
                        a.mA(href="/frm-pedido/" + client.ID_Client) Cadastrar um novo pedido

                div.container
                    div.grid 
                        div.row
                            each pedido in pedidos
                                div.item 
                                    div.card-pedido
                                        button.btn.btn-primary.mB 
                                            a.mA(href="frm-edit-pedido/" + pedido.ID_Pedido + "/" + client.ID_Client)
                                                img(src="../../assets/icons/svg/pencil.svg")

                                        h2.title #{pedido.nome_pedido}
                                        h4.sub-title #{pedido.pd_state}
                                        hr
                                        h6.quant Quantidade: #{pedido.quant}
                                        h6.data Data entrega: #{data_e}

                                        h4.preco Preço: R$ #{pedido.preco}

                                            div.mConState
                                                form(action="set-s/" + pedido.ID_Pedido + "/" + pedido.ID_Client, method="post")
                                                    input.myForm(type="text", placeholder="Status", name="setState")
                                                    button.btn.btn-success(type="submit") Alterar o status 
                                                form
                                            div
                                        
                                    div
                                div
                        div
                    div        
                div                     
              

                div.mb-1
                    div.container
                        div.container-sty
                            div.title-o
                                h1 Orçamento
                            div.total-p-container
                                h5.pr-t Preço total dos pedidos: 
                                h1.pr R$ #{totalP}
                                hr
                                h5.pr-t Sinal
                                form(action="/sinal/" + id_c, method="post")
                                    input.in_none(type="text", name="total_p_sinal", value=totalP)
                                    input.form-control(type="number", placeholder="Definir sinal", name="in_sinal")
                                    button.btn.btn-primary.mBtn(type="submit") Definir
                                hr
                                h5.pr-t Falta de pagamento 
                                h1.pr R$ #{falta}
                            
            </div>
      
        </div>
    </div>
    </div>
</body>

</html>